<?php if($this->getWishlist()->getItemsCount()): ?>
    <a href="<?php echo $this->getUrl('wishlist/index/share', array('wishlist_id' => Mage::helper('wishlist')->getWishlist()->getId())) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Share Wishlist')) ?>" class="button btn-share"><span><span><?php echo $this->__('Share Wishlist') ?></span></span></a>
<?php endif;?>
