<div id="loadOverlay" style="margin: 0; padding: 0; background-color:#636363; position:fixed; top:0; left: 0; width:100%; height:100%; z-index:2000; text-align: center;">
    <div class="loader">Loading...</div>
</div>
<style>
    #loadOverlay { display: none; }
    .loader, .loader:before, .loader:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .loader, .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
    .loader {
        margin: 0 auto;
        top: 45%;
        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(255, 255, 255, 0.2);
        border-right: 1.1em solid rgba(255, 255, 255, 0.2);
        border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
        border-left: 1.1em solid #3399cc;
        -webkit-transform: translateY(-45%) translateZ(0);
        -ms-transform: translateY(-45%) translateZ(0);
        transform: translateY(-45%) translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform:         rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform:         rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform:         rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform:         rotate(360deg);
        }
    }
</style>