<?php  $_order = $this->getOrder() ?>
<?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <a href="#" onclick="openInNewTab('<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>')" class="link-rss f-none"><?php echo $this->__('Subscribe to Order Status') ?></a>
    <span class="separator">|</span>
<?php endif; ?>
<?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
    <a href="#" onclick="setLocation('<?php echo $this->getReorderUrl($_order) ?>')" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
    <span class="separator">|</span>
<?php endif ?>
<a href="#" class="link-print" onclick="openInNewTab('<?php echo $this->getPrintUrl($_order) ?>')"><?php echo $this->__('Print Order') ?></a>
<script type="text/javascript">
//<![CDATA[
function openInNewTab(url) {
    var win = window.open(url, '_blank');
    win.focus();
}
//]]>
</script>
<?php echo $this->getChildHtml(); ?>
